/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$VeryDarkBlue: hsl(232, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: $VeryLightGray;
  color: $VeryDarkBlue;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: clamp(1.5rem, 6.4vw, 2.25rem);
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 0.9375rem;
}
