main {
  max-width: 1440px;
  margin: auto;
}

header {
  width: min(82.9333333%, 540px);
  margin: auto;
}

@supports (gap: 1.875rem) {
  // .card {
  //   margin-bottom: 1.875rem;
  // }
  .cards {
    gap: 1.875rem;
  }

  .card {
    margin-bottom: 0;
  }
}

.cards {
  width: min(82.9333333%, 1110px);
  margin: 4rem auto;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  // margin: 4.75rem auto;
}
